[Unit]
Description=Modem 1 Receiver (Gammu)
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=gammu-smsd -c /etc/gammu-smsdrc

[Install]
WantedBy=multi-user.target
